.motive-container {
  display: flex;
  flex-direction: column;
  max-width: 60vw;
  margin: 0.5rem 0 0.5rem 0;
  padding: 6px 3px 6px;
  background: #12232e;
  color: #f2f2f2;
  box-shadow: 2px 2px 20px #203647;
}

.user-name {
  // border: solid 1px #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1.2rem;
  color: #eefbfb;
}

.date-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #eefbfb;
}

.motive-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 10vh;
  color: #eefbfb;
  margin: 1.5rem;
}

.like-delete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #4da8da;
  &:hover {
    background: #eefbfb;
  }
}
