.motive-container {
  border: black 0.1px solid;
  display: flex;
  flex-direction: column;
  max-width: 60vw;
  margin: 0.5rem 0 0.5rem 0;
}

.user-name {
  border: black 0.5px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.motive-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.like-delete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
