* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  background: #12232e;
}

.App {
  justify-content: center;
  align-items: center;
  margin-left: 25vw;
  margin-right: 25vw;
}

@import "./motive";
@import "./motiveFeed";
@import "./createMotive";
